html,
body {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  font-family: "proxima-nova", helvetica, arial, sans-serif;
}
a {
  text-decoration: none;
  color: #000;
}
#container {
  border-top: thick solid #39c;
  min-height: 100%;
  text-align: center;
}
#main {
  padding-bottom: 75px;
  overflow: auto;
}
header {
  padding-top: 25px;
  padding-bottom: 25px;
  overflow: hidden;
  width: 400px;
  margin: 0 auto;
}
img {
  float: left;
  padding-top: 15px;
}
hgroup {
  text-align: left;
  float: left;
}
hgroup h1 {
  font-size: 100px;
  letter-spacing: -4px;
  font-weight: 800;
  font-family: "proxima-nova", helvetica, arial, sans-serif;
  color: #333;
}
hgroup h2 {
  font-weight: 100;
  font-size: 28px;
  margin-top: -20px;
  margin-left: 3px;
  color: #39c;
}
hgroup h2 span {
  color: #bbb;
  font-family: "museo", helvetica, arial, sans-serif;
}
h3 {
  font-size: 36px;
}
#there-input,
#searching {
  display: none;
}
#old-school ::-webkit-input-placeholder {
  text-align: center;
}
#old-school :-moz-placeholder {
  text-align: center;
}
#input {
  padding: 20px 0;
  margin: 0 auto 25px;
  overflow: hidden;
  height: 70px;
}
#input h3 {
  padding-top: 10px;
}
input,
button {
  border: none;
  font-size: 16px;
  font-size: 32px;
}
.error {
  border-bottom: solid 3px #ff544f;
}
.pac-container {
  padding-top: 10px;
}
/* a single google autofill result */
.pac-item {
  font-size: 14px;
  font-weight: 100;
  margin: 0 20px;
  padding: 10px 5px;
  color: #444;
}
button {
  width: 150px;
  background: #000;
  color: #fff;
  height: 58px;
}
button:hover {
  cursor: pointer;
}
input {
  background: #efefef;
  width: 350px;
  height: 60px;
  padding: 0 20px;
  font-weight: 300;
}
#inputwrap {
  position: relative;
  margin: 0 20px;
}
#inputwrap .example {
  font-weight: 300;
  color: #bbb;
  font-size: 12px;
  letter-spacing: 0px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -30px;
}
input#there {
  margin: 0 20px;
}
button.go {
  width: 100px;
  height: 60px;
  margin-left: 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #06c), color-stop(1, #39c));
  background: -webkit-linear-gradient(bottom, #06c 0%, #39c 100%);
  background: -moz-linear-gradient(bottom, #06c 0%, #39c 100%);
  background: -o-linear-gradient(bottom, #06c 0%, #39c 100%);
  background: -ms-linear-gradient(bottom, #06c 0%, #39c 100%);
  background: linear-gradient(bottom, #06c 0%, #39c 100%);
  font-weight: 700;
}
button:disabled {
  background: #efefef;
  cursor: default;
  color: #bbb;
  font-weight: 700;
}
#when {
  width: 80px;
}
#info {
  height: 100px;
  margin: 0 auto -3px;
}
#info #result {
  clear: both;
  padding: 25px 0;
  font-size: 24px;
  font-weight: 100;
  border-top: thin solid #06c;
  border-bottom: thin solid #06c;
  display: none;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #06c), color-stop(1, #39c));
  background: -webkit-linear-gradient(bottom, #06c 0%, #39c 100%);
  background: -moz-linear-gradient(bottom, #06c 0%, #39c 100%);
  background: -o-linear-gradient(bottom, #06c 0%, #39c 100%);
  background: -ms-linear-gradient(bottom, #06c 0%, #39c 100%);
  background: linear-gradient(bottom, #06c 0%, #39c 100%);
  color: #fff;
  height: 50px;
}
#info #result #duration {
  font-size: 70%;
  color: #fff;
}
.smallprint {
  font-size: 10px;
  clear: both;
  text-align: center;
  padding-top: 10px;
}
.bold,
.location {
  font-weight: 700;
  color: #fff;
}
#map {
  border-top: thick solid #06c;
  border-bottom: thick solid #06c;
  border-left: thin solid #06c;
  border-right: thin solid #06c;
  height: 400px;
  width: 880px;
  margin: 0 auto 25px;
}
footer {
  height: 75px;
  border-top: thick solid #06c;
  background: #000;
  clear: both;
  margin-top: -75px;
  position: relative;
  color: #fff;
  text-align: center;
}
footer h6 {
  font-weight: 300;
  padding-top: 10px;
}
footer a,
footer a:visited {
  color: #fff;
}
footer a:hover {
  color: #39c;
}
