@import '../node_modules/nib/lib/nib'

html, body
  height 100%

*
  margin 0
  padding 0
  font-family "proxima-nova", helvetica, arial, sans-serif

a
  text-decoration none
  color black

#container
  border-top thick solid #3399cc
  min-height 100%
  text-align center

#main
  padding-bottom 75px
  overflow auto

header
  padding-top 25px
  padding-bottom 25px
  overflow hidden
  width 400px
  margin 0 auto

img
  float left
  padding-top 15px

hgroup
  text-align left
  float left
  h1
    font-size 100px
    letter-spacing -4px
    font-weight 800
    font-family "proxima-nova", helvetica, arial, sans-serif
    color #333
  h2
    font-weight 100
    font-size 28px
    margin-top -20px
    margin-left 3px
    color #3399cc
  h2 span
    color #bbb
    font-family "museo", helvetica, arial, sans-serif

h3
  font-size 36px

#there-input, #searching
  display none

#old-school
  ::-webkit-input-placeholder
   text-align center

  :-moz-placeholder
   text-align center

#input
  padding 20px 0
  margin 0 auto 25px
  overflow hidden

  height 70px
  h3
    padding-top 10px

input, button
  border none
  font-size 16px
  font-size 32px

.pac-container
  padding-top 10px

/* a single google autofill result */
.pac-item
  font-size 14px
  font-weight 100
  margin 0 20px
  padding 10px 5px
  color #444

button
  width 150px
  background black
  color white
  height 58px

button:hover
  cursor pointer

input
  background #efefef
  width 350px
  height 60px
  padding 0 20px
  font-weight 300

#inputwrap
  position relative
  margin 0 20px

  .example
    font-weight 300
    color #bbb
    font-size 12px
    letter-spacing 0px
    position absolute
    width 100%
    left 0
    bottom -30px

input#there
  margin 0 20px

button.go
  width 100px
  height 60px
  margin-left 0
  background linear-gradient(bottom, #0066cc, 100% #3399cc)
  font-weight 700

button:disabled
  background #efefef
  cursor default
  color #bbb
  font-weight 700

#when
  width 80px
#info
  height 100px
  margin 0 auto -3px
  #result
    clear both
    padding 25px 0
    font-size 24px
    font-weight 100
    border-top thin solid #0066cc
    border-bottom thin solid #0066cc
    display none
    background linear-gradient(bottom,  #0066cc, 100% #3399cc)
    color white
    height 50px
    #duration
      font-size 70%
      color white
    button
      height 1em

.smallprint
  font-size 10px
  clear both
  text-align center
  padding-top 10px

.bold, .location
  font-weight 700
  color white

#map
  border-top thick solid #0066cc
  border-bottom thick solid #0066cc
  border-left thin solid #0066cc
  border-right thin solid #0066cc
  height 400px
  width 880px
  margin 0 auto 25px

footer
  height 75px
  border-top thick solid #0066cc
  background black
  clear both
  margin-top -75px
  position relative
  color white
  text-align center
  h6
    font-weight 300
    padding-top 10px
  a:visited
    color white
  a:hover
    color #3399cc
