html, body {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
    font-family: helvetica, arial, sans-serif;
}
a {
  text-decoration: none;
  color: black;
}

#container {
  border-top: thick solid black;
  min-height: 100%;
  text-align: center;
  padding-top: 50px;
}
h1 {
  font-size: 72px;
  letter-spacing: -4px;
  padding-bottom: 10px;
}
h2 {
  font-size: 36px;
  letter-spacing: -2px;
  float: left;
}
#info {
  /*border-top: thin solid black;*/
  padding-top: 100px;
  width: 860px;
  /*height: 300px;*/
  margin: 0 auto;
  overflow: hidden;
}
#info h2 {
  padding-top: 10px;
}
#duration {
  font-size: 70%;
  color: gray;
}
input, button {
  border: none;
  margin: 0 20px;
  float: left;
  font-size: 16px;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -1px;
}
button {
  width: 150px;
  background: black;
  color: white;
  height: 58px;
}
button:hover {
  cursor: pointer;
}
input {
  background: #efefef;
  width: 350px;
  height: 60px;
  padding: 0 20px;
  text-align: center;
}
button.go {
  width: 200px;
  float: none;
  margin: 75px auto;
  /*background: #efefef;*/
  /*border: thin solid #ccc;*/
}
#when {
  width: 80px;
}
#result {
  clear: both;
  /*margin-top: 100px;*/
  padding: 50px 0;
  font-size: 24px;
  border-top: thin solid #efefef;
  display: none;
}
.smallprint {
  font-size: 10px;
  clear: both;
}
