!!!

include config

html
  head
    title promt
    script(type='text/javascript', src='//use.typekit.net/vxd8efe.js')
    script(type='text/javascript')
      try{Typekit.load();}catch(e){}
    link(type='text/css',rel='stylesheet', href='/css/styles.styl')
  body
    #container
      header
        img(src="images/promt.png", width='95', height='110')
        hgroup
          h1 Promt.
          h2 <span>un</span>fashionably on time
      #info
        a(name='no-fluff')
          h3
            | Arrive at
            input(autofocus)#there
            | by
            span#inputwrap
              input(placeholder='asap')#when
              span.example ex: "asap" or "7.45"
            button(disabled=true).go GO!

        #result
          p
            span#time
            &nbsp;
            span#duration
          br
          p.smallprint (though no promise on traffic)

        #map


    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js')
    script(src='//maps.googleapis.com/maps/api/js?libraries=places&key='+config.googleMapsKey+'&sensor=false')
    script(src='/js/moment.min.js')
    script(src='/js/time.js')
    script(src='/js/index.js')
    script(src='/js/html5shiv.js')
    script(src='/js/html5shiv-printshiv.js')
