!!!

include config

html
  head
    title promt
    link(type='text/css',rel='stylesheet', href='/css/styles.css')
  body
    #container
      header
        h1
          img(src="images/pocketwatch.png", width='85', height='100')
          | Promt.
        h2 <span>un</span>fashionably on time
      #info
        h3
          | Arrive at
          input(autofocus)#there
          | by
          span#inputwrap
            input(placeholder='asap')#when
            span.example ex: "asap" or "7.45"
          button(disabled=true).go GO!

        #result
          p
            span#time
            &nbsp;
            span#duration
          br
          p.smallprint (though no promise on traffic)

        #map

      //-p.smallprintgoogle
        a(href='https://maps.google.com/') powered by Google Maps


    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js')
    script(src='//maps.googleapis.com/maps/api/js?libraries=places&key='+config.googleMapsKey+'&sensor=false')
    script(src='/js/moment.min.js')
    script(src='/js/time.js')
    script(src='/js/index.js')
