html,
body {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  font-family: "museo", helvetica, arial, sans-serif;
}
a {
  text-decoration: none;
  color: #000;
}
#container {
  border-top: thick solid #39c;
  min-height: 100%;
  text-align: center;
  padding-top: 50px;
}
header {
  padding-bottom: 60px;
  overflow: hidden;
  width: 400px;
  margin: 0 auto;
}
img {
/*padding-right: 25px;*/
  float: left;
  padding-top: 15px;
}
hgroup {
  text-align: left;
  float: left;
}
h1 {
  font-size: 100px;
  letter-spacing: -4px;
  font-weight: 800;
  font-family: "proxima-nova", helvetica, arial, sans-serif;
  color: #333;
}
h2 {
  font-weight: 100;
  font-size: 28px;
  margin-top: -20px;
  margin-left: 3px;
  color: #39c;
}
h2 span {
  color: #bbb;
}
h3 {
  font-size: 36px;
}
#info {
  padding-top: 10px;
  margin: 0 auto;
  overflow: hidden;
}
#info h3 {
  padding-top: 10px;
}
#duration {
  font-size: 70%;
  color: #fff;
}
input,
button {
  border: none;
  font-size: 16px;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -1px;
}
/* a single google autofill result */
.pac-item {
  margin: 0 20px;
  font-size: 20px;
}
.pac-container {
  padding-top: 10px;
}
.pac-item {
  font-size: 14px;
  font-weight: 100;
  padding: 10px 5px;
  color: #444;
}
button {
  width: 150px;
  background: #000;
  color: #fff;
  height: 58px;
}
button:hover {
  cursor: pointer;
}
#inputwrap {
  position: relative;
  margin: 0 20px;
}
#inputwrap .example {
  font-weight: 400;
  color: #bbb;
  font-size: 12px;
  letter-spacing: 0px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -30px;
}
input {
  background: #efefef;
  width: 350px;
  height: 60px;
  padding: 0 20px;
  font-weight: 300;
}
input#there {
  margin: 0 20px;
}
button.go {
  width: 100px;
  height: 60px;
  margin-left: 0;
  background: #39c;
}
button.go:disabled {
  background: #efefef;
  cursor: default;
  color: #aaa;
}
#when {
  width: 80px;
}
/*#resultWrap {
  height: 50px;
}*/
#result {
  clear: both;
  margin-top: 50px;
  padding: 25px 0;
  font-size: 24px;
  font-weight: 100;
  border-top: thin solid #efefef;
  border-bottom: thin solid #efefef;
  display: none;
  background: #39c;
  color: #fff;
}
.smallprint {
  font-size: 10px;
  clear: both;
  text-align: center;
}
.smallprintgoogle {
  width: 120px;
  position: absolute;
  bottom: 25px;
  left: 50%;
  margin-left: -60px;
  font-size: 10px;
  clear: both;
  text-align: center;
}
.bold,
.location {
  font-weight: 700;
  color: #fff;
}
#map {
  border-top: thick solid #39c;
  border-bottom: thick solid #39c;
  border-left: thin solid #39c;
  border-right: thin solid #39c;
  height: 400px;
  width: 860px;
  margin: 40px auto;
}
