html,
body {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  font-family: "museo", helvetica, arial, sans-serif;
}
a {
  text-decoration: none;
  color: #000;
}
#container {
  border-top: thick solid #39c;
  min-height: 100%;
  text-align: center;
  padding-top: 50px;
}
#container header {
  padding-bottom: 60px;
  overflow: hidden;
  width: 400px;
  margin: 0 auto;
}
#container header img {
  float: left;
  padding-top: 15px;
}
#container header hgroup {
  text-align: left;
  float: left;
}
#container header h1 {
  font-size: 100px;
  letter-spacing: -4px;
  font-weight: 800;
  font-family: "proxima-nova", helvetica, arial, sans-serif;
  color: #333;
}
#container header h2 {
  font-weight: 100;
  font-size: 28px;
  margin-top: -20px;
  margin-left: 3px;
  color: #39c;
}
#container header h2 span {
  color: #bbb;
}
#container #info {
  padding-top: 10px;
  margin: 0 auto;
  overflow: hidden;
/* a single google autofill result */
}
#container #info h3 {
  font-size: 36px;
  padding-top: 10px;
}
#container #info #duration {
  font-size: 70%;
  color: #fff;
}
#container #info input,
#container #info button {
  border: none;
  font-size: 16px;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -1px;
}
#container #info .pac-item {
  margin: 0 20px;
  font-size: 20px;
}
#container #info .pac-container {
  padding-top: 10px;
}
#container #info .pac-item {
  font-size: 14px;
  font-weight: 100;
  padding: 10px 5px;
  color: #444;
}
#container #info button {
  width: 150px;
  background: #000;
  color: #fff;
  height: 58px;
}
#container #info button hover {
  cursor: pointer;
}
#container #info #inputwrap {
  position: relative;
  margin: 0 20px;
}
#container #info #inputwrap .example {
  font-weight: 400;
  color: #bbb;
  font-size: 12px;
  letter-spacing: 0px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -30px;
}
#container #info input {
  background: #efefef;
  width: 350px;
  height: 60px;
  padding: 0 20px;
  font-weight: 300;
}
#container #info input#there {
  margin: 0 20px;
}
#container #info button.go {
  width: 100px;
  height: 60px;
  margin-left: 0;
  background: #39c;
}
#container #info button.go disabled {
  background: #efefef;
  cursor: default;
  color: #aaa;
}
#container #info #when {
  width: 80px;
}
#container #result {
  clear: both;
  margin-top: 50px;
  padding: 25px 0;
  font-size: 24px;
  font-weight: 100;
  border-top: thin solid #efefef;
  border-bottom: thin solid #efefef;
  display: none;
  background: #39c;
  color: #fff;
}
#container #result .smallprint {
  font-size: 10px;
  clear: both;
  text-align: center;
}
#container .bold,
#container .location {
  font-weight: 700;
  color: #fff;
}
#container #map {
  border-top: thick solid #39c;
  border-bottom: thick solid #39c;
  border-left: thin solid #39c;
  border-right: thin solid #39c;
  height: 400px;
  width: 860px;
  margin: 40px auto;
}
